<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>
    <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>filter.SessionTimeoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionTimeoutFilter</filter-name>
        <url-pattern>/loginServlet</url-pattern>
        <!--        <servlet-name>adminControllerServlet</servlet-name>
        <servlet-name>clientSideServlet</servlet-name>-->
    </filter-mapping>
    <servlet>
        <servlet-name>adminControllerServlet</servlet-name>
        <servlet-class>controller.adminControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>clientSideServlet</servlet-name>
        <servlet-class>controller.clientSideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImage</servlet-name>
        <servlet-class>controller.getImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadProductController</servlet-name>
        <servlet-class>controller.uploadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminControllerServlet</servlet-name>
        <url-pattern>/adminAddProducts</url-pattern>
        <url-pattern>/adminApprovals</url-pattern>
        <url-pattern>/adminCustomer</url-pattern>
        <url-pattern>/adminDashboard</url-pattern>
        <url-pattern>/adminEditProducts</url-pattern>
        <url-pattern>/adminProducts</url-pattern>
        <url-pattern>/adminRecycledProducts</url-pattern>
        <url-pattern>/adminTransactions</url-pattern>
        <url-pattern>/adminViewRecycled</url-pattern>
        <url-pattern>/approveProduct</url-pattern>
        <url-pattern>/adminDiscount</url-pattern>
        <url-pattern>/adminDiscountDelete</url-pattern>
        <url-pattern>/adminInbox</url-pattern>
        <url-pattern>/adminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientSideServlet</servlet-name>
        <url-pattern>/productDetails</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/productList</url-pattern>
        <url-pattern>/productDetails</url-pattern>
        <url-pattern>/wishList</url-pattern>
        <url-pattern>/compareProducts</url-pattern>
        <url-pattern>/addRecycleProduct</url-pattern>
        <url-pattern>/recycleProductList</url-pattern>
        <url-pattern>/accountDetails</url-pattern>
        <url-pattern>/orderConfirmation</url-pattern>
        <url-pattern>/orderHistory</url-pattern>
        <url-pattern>/editPassword</url-pattern>
        <url-pattern>/editCustomer</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/addCartList</url-pattern>
        <url-pattern>/removeCartItem</url-pattern>
        <url-pattern>/updateCart</url-pattern>
        <url-pattern>/updateCoupon</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/chooseLanguage</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/addWishList</url-pattern>
        <url-pattern>/addCompareList</url-pattern>
        <url-pattern>/logoutClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImage</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadProductController</servlet-name>
        <url-pattern>/uploadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/loginErrorCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/clientSideView/404.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Toy Store Administration</web-resource-name>
            <description/>
            <url-pattern>/adminAddProducts</url-pattern>
            <url-pattern>/adminApprovals</url-pattern>
            <url-pattern>/adminCustomer</url-pattern>
            <url-pattern>/adminDashboard</url-pattern>
            <url-pattern>/adminEditProducts</url-pattern>
            <url-pattern>/adminProducts</url-pattern>
            <url-pattern>/adminRecycledProducts</url-pattern>
            <url-pattern>/adminTransactions</url-pattern>
            <url-pattern>/adminViewRecycled</url-pattern>
            <url-pattern>/approveProduct</url-pattern>
            <url-pattern>/adminDiscount</url-pattern>
            <url-pattern>/adminDiscountDelete</url-pattern>
            <url-pattern>/adminInbox</url-pattern>
            <url-pattern>/adminLogout</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>storeAdmin</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/view/adminLogin.jsp</form-login-page>
            <form-error-page>/WEB-INF/view/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>storeAdmin</role-name>
    </security-role>
    <jsp-property-group>
        <description>JSP configuration for the admin console</description>
        <url-pattern>/adminAddProducts</url-pattern>
        <url-pattern>/adminApprovals</url-pattern>
        <url-pattern>/adminCustomer</url-pattern>
        <url-pattern>/adminDashboard</url-pattern>
        <url-pattern>/adminEditProducts</url-pattern>
        <url-pattern>/adminProducts</url-pattern>
        <url-pattern>/adminRecycledProducts</url-pattern>
        <url-pattern>/adminTransactions</url-pattern>
        <url-pattern>/adminViewRecycled</url-pattern>
        <url-pattern>/approveProduct</url-pattern>
        <url-pattern>/adminDiscount</url-pattern>
        <url-pattern>/adminDiscountDelete</url-pattern>
        <url-pattern>/adminInbox</url-pattern>
        <url-pattern>/adminLogout</url-pattern>
        <url-pattern>/adminLogin.jsp</url-pattern>
        <url-pattern>/loginError.jsp</url-pattern>
        <include-prelude>/admin/jspf/header.jspf</include-prelude>
        <include-coda>/admin/jspf/footer.jspf</include-coda>
    </jsp-property-group>
    <resource-ref>
        <description>MySQL LocalDB</description>
        <res-ref-name>jdbc/toy</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>upload.location</param-name>
        <param-value>/home/bsft14/ntungare2/www/images</param-value>
    </context-param>
</web-app>
